# Данные

In [2]:
import pandas as pd

df = pd.read_csv("Never Trust Summary Statistics.tsv", delimiter="\t")
df

         dataset          x          y
0           dino  55.384600  97.179500
1           dino  51.538500  96.025600
2           dino  46.153800  94.487200
3           dino  42.820500  91.410300
4           dino  40.769200  88.333300
...          ...        ...        ...
1841  wide_lines  33.674442  26.090490
1842  wide_lines  75.627255  37.128752
1843  wide_lines  40.610125  89.136240
1844  wide_lines  39.114366  96.481751
1845  wide_lines  34.583829  89.588902

[1846 rows x 3 columns]

## Размер данных

In [8]:
print( "Количество строк: ", df.shape[0], "  Количество колонок: ", df.shape[1])

Количество строк:  1846   Количество колонок:  3

## Типы данных

In [11]:
# Types of dataframe columns
print( df.dtypes)

dataset     object
x          float64
y          float64
dtype: object

## Уникальные значения

In [12]:
df["dataset"].unique()

array(['dino', 'away', 'h_lines', 'v_lines', 'x_shape', 'star',
       'high_lines', 'dots', 'circle', 'bullseye', 'slant_up',
       'slant_down', 'wide_lines'], dtype=object)

## Частота значений

In [ ]:
df["dataset"].value_counts()

dataset
dino          142
away          142
h_lines       142
v_lines       142
x_shape       142
star          142
high_lines    142
dots          142
circle        142
bullseye      142
slant_up      142
slant_down    142
wide_lines    142
Name: count, dtype: int64

## Статистика по X и Y

In [29]:
min_values = df["x"].min()
max_values = df["x"].max()
mean_values = df["x"].mean()
median_values = df["x"].median()

print("Минимум\n", min_values)
print("Максимум:\n", max_values)
print("Среднее:\n", mean_values)
print("Медиана:\n", median_values)

Минимум
 15.5607495229
Максимум:
 98.2881232748
Среднее:
 54.265695295881045
Медиана:
 52.5912691143

In [30]:
min_values = df["y"].min()
max_values = df["y"].max()
mean_values = df["y"].mean()
median_values = df["y"].median()

print("Минимум\n", min_values)
print("Максимум:\n", max_values)
print("Среднее:\n", mean_values)
print("Медиана:\n", median_values)

Минимум
 0.0151193251552
Максимум:
 99.6946801425
Среднее:
 47.8350992041227
Медиана:
 47.59444996225